

.CodeMirror,
.devtools-monospace {
    font-family: "Hack", "melno", "monaco", monospace !important;
    font-weight: normal !important;
    font-size: 12px !important;
}

#context-navigation,
#context-sep-navigation,
#onepassword4_agilebits_com-menuitem-1 {
    display: none !important
}
